/*Primeiramente definimos o comportamento a padrão 
de todos os elementos. Vou deixar todos com delay
para deixar as animações mais fluidas*/
@font-face {
  font-family: Beue;
  src: url("./font/BebasNeue-Regular.ttf");
}
:root{
  --setas:rgba(255, 255, 255, 0.493);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  transition: all 0.2s ease-in-out;
}
h2{
  font-size: 25px;
  font-family: Beue, Helvetica Neue, Arial, sans-serif;
  color: white;
}
.container{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.center{
  width: 55%;
  height: 88%;
}
.timer{
  width: 50px;
}
.display{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}
.image{
  box-shadow: inset 0px -120px 90px 0px rgb(0,0,0,0.5);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.image.esconder{
  width: 50%;
}
h3{
  font-size: 30px;
  color: white;
}
h4{
  color: white;
}
p{
  font-size: 12px;
  color: white;
}
.letra{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 0%;
  height: 10%;
}
.letra.mostrar{
  width: 50%;
}
audio{
  display: none;
}
.descri{
  width: 70%;
  margin-left: 20px;
}
.reprodutor{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.reprodutor button{
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid white;
  outline: none;
  font-size: 15px;
  color: white;
}
.musica{
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  display: flex;
}
.capa{
  margin-left: 20px;
  box-shadow: inset 0px -10px 20px 0px rgb(0,0,0,0.5);
  border: 2px solid black;
  border-radius: 10px;
  height: 80%;
  width: 10% ;
}
.descri h4{
  font-size: 13px;
}
.frase{
  font-family: Beue;
  width: 170px;
  animation: aparecer 0.2s linear;
  position: absolute;
  display: none;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.frase.show{
  display: flex;
}
.change:hover{
  color: white;
} 
.change:hover>.circulo{
  border: 2px solid white;
}
.change:hover>.linha{
  background: white;
}
.change:hover>.seta{
  font-size: 80;
  color: white;
}
.change:nth-child(1):hover .circulo{
  left: 2px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
}
.change:nth-child(2):hover .circulo{
  right: 2px;
  width: 40px;
  height: 40px;
  margin-right: -20px;
}
.change{
  color: rgba(255, 255, 255, 0.493);
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change:nth-child(1){
  font-size: 30px;
}
.circulo{
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.493);
  border-radius:50%;
}
.change:nth-child(1) .circulo{
  margin-left: -20px;
}
.change:nth-child(2) .circulo{
  margin-right: -20px;
}
#voltar{
  left: 24px;
}
.linha{
  display: flex;
  content: "";
  background: rgba(255, 255, 255, 0.493);
  height: 2px;
  width: 100px;
}
#proxima{
  right: 24px;
}
.seta{
  font-family: 'Courier New', Courier, monospace;
  color: rgba(255, 255, 255, 0.493);
  margin-top: 3px;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 55px;
}
.banner{
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  font-family: Beue;
  position: absolute;
}
.banner.show{
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Beue;
  position: absolute;
}
.banner p{
  font-size: 90px;
}
.banner.show p:nth-child(1), .banner.show p:nth-child(2){
  margin: 0;
  padding-right: 39%;
  font-size: 50px;
}

.banner p:nth-child(1){
  margin-bottom: 120px;
}
.banner p:nth-child(2){
  margin-top: 120px;
}
.circle {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 300px;
  height: 300px;
  margin-top: -34%;
  margin-right: -55%;
  position: absolute;
  border-radius: 50%;
  animation: rotacao 2s infinite;
}

@keyframes aparecer {
  0%{
    opacity: 0;
    margin-top: 30px;
  }
  100%{
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes rotacao {
  from{
    transform: rotateZ(30deg);
  }
}
@media screen and (max-width:680px) {
  .frase{
    font-size: 20px;
    width: 70px;
  }
}
